# Ignore the node_modules folder
node_modules/

# Ignore the .env file
.env

# Ignore all files inside the screenshots and logs folders
screenshots/*
logs/*

# Allow the inclusion of empty screenshots and logs folders
!screenshots/.gitkeep
!logs/.gitkeep
